@import "./variables.scss";
.bg-primary {
    background: $bg-primary;
}

.bg-secondary {
    background: $bg-secondary;
}

.color-text-01 {
    color: $text-01;
}

.text-positive {
    color: green !important;
}

.text-negative {
    color: red !important;
}

.color-black {
    color: $text-black;
}

.color-primary {
    color: $primary;
}

.color-text-02 {
    color: $text-02;
}

.color-text-03 {
    color: $text-03;
}

.color-ui-01 {
    color: $ui-01;
}

.color-ui-02 {
    color: $ui-02;
}

.color-ui-03 {
    color: $ui-03;
}