//BackGround
$bg-primary: #3c4564 !important;
$bg-secondary:#2f3650 !important;
//Text
$text-01:#8B90A0;
$text-02:#505565;
$text-03:#232735;
$text-black:black;
$text-inverse:white;
//Text size
$size-s: 1.1rem;
$size-m: 1.3rem;
$size-l: 1.5rem;
//Color
$primary:#8396b5;
$secondary:#393E46;
$info:#4b6ddd;
$warning:#ec2020;
//UI
$ui-01:#3c4564;
$ui-02:#1b1d20;
$ui-03:#505565;
$ui-04:#8B90A0;
$ui-05:#EEEEEE;
// Spacing
$space-xxs: .25rem;
$space-xs: .5rem;
$space-s: 1rem;
$space-m: 1.5rem;
$space-l: 2rem;
$space-xl: 3rem;
$space-xl2: 3.5rem;
$space-xxl: 4rem;
$space-xxxl: 8rem;
//Other
$hover-primary: #09eab4;
$hover-row:#8a4a09;
$navbar-width:250px;
$header-height:70px;
$active-header-height:385px;
$hover-info:#3e58ad;
$hover-warning:#bb1e1e;